header{
    position: sticky;
    top: 0;
    background-color: rgb(2, 47, 55);
    color: white;
    text-align: center;
    padding: 2px;
}

h1{
    font-size: 2em;
}

@media screen and (max-width: 768px){
    h1{
        font-size: 1.8em;
    }
}

@media screen and (max-width:480px){
    h1{
        font-size: 1.5em;
    }
}
.intro{
    background-color: rgb(208, 227, 230);
    color: rgb(3, 58, 64);
    text-align: center;
    padding: 1em;
}

.introDescript{
    margin: 0px 1em 0px 1em;
    padding: 0.8em;
    border-radius: 1em;
    background-color: #fff;
}

.bodysec{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-content {
    flex: 1; /* Take up remaining space */
    padding: 20px;
}

.sidebar {
    width: 30%;
    background-color: #5cc2c529;
    padding: 10px;
    margin: 0.5em;
    border-radius: 1em;
}

/* Style for the additional information tag */
.additional-info {
    background-color: #e3f2fd;
    padding: 10px;
    border: 1px solid #64b5f6;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* this space is for the bodysec sessions */












footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content > div{
    position: relative;
}

.footer-content > div ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.footer-content > div:hover ul{
    display: block;
}

.footer-content > div ul li{
    margin-top: 5px;
    background-color: #e3f2fd;
}

.footer-content > div ul li a{
    color: #06444d;
    text-decoration: none;
}

.footer-content > div ul li a:hover{
    text-decoration: underline;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    display: inline-block;
}

footer a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}
footer a:hover::after{
    width: 100%;
}

footer .logo {
    display: inline-block;
    width: 50px;
    height: 50px;
}

footer .logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-content + p {
    margin-top: 0;
    transition: margin-top 0.5s ease;
}

.footer-content:hover + p {
    margin-top: 3em;
}

.footer-container:not(:hover) .footer-content + p {
    margin-top: 0;
}

.footer-container {
    position: sticky;
    bottom: 0;

}


